.movies-outer {
    margin: 20px;
}

.orginals-container {

display: flex;
flex-wrap: wrap;

}

.movie-img {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    max-width: 20%;
}