@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

@font-face {
    font-family: StarWarsFont;
    src: url(/fonts/SFDistantGalaxyOutline.ttf);
  }
@font-face {
    font-family: StarWarsFont2;
    src: url(/fonts/SFDistantGalaxy.ttf);
  }

  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
* {
    margin: 0;
    padding: 0;
}

/**********
    Top-Bar
***********/

.top-bar {
    display: flex;
    width: 100%;
    height: auto;
    background: linear-gradient(#5c5c5c, #242424, #000000 );
}

/**********
    Logo
**********/

.logo {
    color: #ffe81f ;
    flex: 1;
    font-size: 50px;
    padding: 20px;
    text-transform: uppercase;
    align-items: center;
    font-family: StarWarsFont, serif;
}

/**********
    Menu
**********/

.menu {
    flex: 1.5;
    align-self: center;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.menu ul li {
    flex: 1;
    text-align: center;
}

.menu ul li a {
    color: #ffe81f;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Titillium Web', serif;
    transition: all 0.3s ease 0s;
}

.menu ul li a:hover {
    color: #ffffff71;
}

/**********
    Banner
**********/

.banner {
    background: url("../img/troopers1.jpg");
    width: 100%;
    background-size: cover;
    background-color: black;
}

.banner-text {
    display: flex;
    padding: 20%;
    position: relative;
}

#instruction-text {
    color: #ffe81f;
    width: 50%; 
    text-align: left;
    margin-top: -30%;
    font-size: 2.5em;
    font-family: StarWarsFont, serif ;
}

#search-btn {
   position: absolute;
   top: 3%;
   left: 58%;
}

.banner-text-items input[type="button"] {
    background-color: #49494980;
    color: #ffe81f;
    font-size: 25px;
    font-family: StarWarsFont2, serif;
    padding: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    border: 10px solid rgba(248, 218, 127, 0.911);
}

#search-btn:hover {
    cursor: pointer;
}

/**********
    Main Info
**********/

#spinner {
    position: absolute;
   top: 60%;
   left: 45%;
}

.pretext {
    font-size: 2em;
    font-family: StarWarsFont, serif;
}

.main-div {
    background: url("../img/starnight.jpg");
    text-align: center;
  }

.main-info {
    text-align: center;
    background: 2px rgb(255, 241, 47);
    box-shadow: 2px 4px 2px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    width: 75%;
    margin: 100px;
    padding: 20px;
    display: inline-block;
}

.info {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#movieList {
    list-style-type: none;
}

/**********
    Footer
**********/

.footer {
    width: 100%;
    height: 150px;
    background: linear-gradient(#000000, #222222, #5c5c5c );
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.copyright {
    padding: 50px;
    text-align: center;
}

.copyright ul {
    list-style: none;
}

/**********
    Media
**********/

@media all and (max-width: 1200px) {

}

@media all and (max-width: 800px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }
    .menu ul {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .logo {
        padding-top: 18px;
    }

    .banner-text-items {
        width: 100%;
        flex: auto;
    }
}

@media all and (max-width: 500px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        padding-top: 10px;
        font-size: 35px;
    }

    .menu ul {
        flex-direction: column;
        margin-bottom: 20px;
    }

    #instruction-text {
        color: #ffea2b;
        width: 100%; 
        margin-top: -30%;
        position: relative;
        right: 45px;
        font-size: 1.8em;
        font-family: StarWarsFont2, serif ;
    }

    .banner-text-items input[type="button"] {
        background-color: #49494980;
        color: #ffe81f;
        font-size: 20px;
        font-family: StarWarsFont2, serif;
        padding: 10px;
        margin-top: 0px;
        text-transform: uppercase;
        border-radius: 30px;
        border: 7px solid rgba(248, 218, 127, 0.911);
    }

    #search-btn {
        position: absolute;
        top: 75%;
        left: 30%;
     }
}

